.py-lg {
  padding-block: var(--py-lg);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}


.content {
--max-width: 375px;
  width: min(var(--max-width), 100% - 1.25rem * 2);
  margin-inline: auto;
}



@media (width >= 64em) {
  .content {
    --max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }
}